.hide-scroll-bar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .hide-scroll-bar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  